\.cproject
\.project
core

src/.vscode/*
src/.codex
src/.test
src/*/*.obj
src/*/*.o
src/gpumd*
src/nep*
src/*.xyz
src/*.out
src/gnep*
src/build
src/CMakeLists.txt
src/build*
.history
.vscode
.DS_Store
*~
local
public
public.*
\#*

/nep
/gpumd*
/gnep

__pycache__/
*/__pycache__/
README.gnep.md
push-to-both.sh
